* {
    margin: 0;
}

#name {
    color: red;
}

.dropdown-item:active {
    background: red;
}

.nav-link {
    color: white;
}

.navbar-nav>.nav-item>.active>a {
    color: aqua;
    background-color: chartreuse;
}

.nav-item>a:hover {
    color: red;
}

.head{
    color: #a95e39;
}

#transparentcard{
    width: 20%;
    position: absolute;
    margin: auto;
   bottom: 15px;
   right: 10px;
   background:black;
   opacity: 75%;
}

@media only screen and (max-width: 1024px) {
    #transparentcard {
        width: 32%;
        position: absolute;
        margin: auto;
        bottom: 514px;
        right: 10px;
        background: black;
        opacity: 0.75;
    }
  }

@media only screen and (max-width: 1024px) {
    
  #transparentcard {
    width: 69%;
    position: absolute;
    margin: auto;
    bottom: 218px;
    right: 10px;
    background: black;
    opacity: 0.75;
}
  }